dropdown-menu()
  position absolute
  background-color #fff
  top 100%
  min-width 150px
  border 1px solid #eee
  border-radius 2px
  padding 10px
  box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style none

div.giga-grid

  .dropdown-menu-align-right
    dropdown-menu()
    left 0

  .dropdown-menu-align-left
    dropdown-menu()
    right 0

  .dropdown-submenu
    dropdown-menu()
    top 0
    left 100%

  .dropdown-menu-item
    position relative
    padding-bottom 5px
    padding-left 10px
    padding-top 5px
    color #666
    border-radius 2px

    &.hoverable:hover
      cursor pointer
      background-color #eee

    input
      border none
      border-bottom 2px solid #666
      margin-top 10px
      margin-bottom 10px
      padding-top 5px
      padding-bottom 5px
      font-size 13px