div.giga-grid .dropdown-menu-align-right {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid #eee;
  border-radius: 2px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style: none;
  left: 0;
}
div.giga-grid .dropdown-menu-align-left {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid #eee;
  border-radius: 2px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style: none;
  right: 0;
}
div.giga-grid .dropdown-submenu-align-right {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid #eee;
  border-radius: 2px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style: none;
  top: 0;
  left: 100%;
}
div.giga-grid .dropdown-submenu-align-left {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid #eee;
  border-radius: 2px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style: none;
  top: 0;
  right: 50%;
}
div.giga-grid .dropdown-menu-toggle-handle-hide {
  opacity: 0;
}
div.giga-grid .dropdown-menu-item {
  position: relative;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  color: #666;
  border-radius: 2px;
}
div.giga-grid .dropdown-menu-item.hoverable:hover {
  cursor: pointer;
  background-color: #eee;
}
div.giga-grid .dropdown-menu-item input {
  border: none;
  border-bottom: 2px solid #666;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
}
