div.giga-grid .dropdown-menu-align-right {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid #eee;
  border-radius: 2px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style: none;
  left: 0;
}
div.giga-grid .dropdown-menu-align-left {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid #eee;
  border-radius: 2px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style: none;
  right: 0;
}
div.giga-grid .dropdown-submenu-align-right {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid #eee;
  border-radius: 2px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style: none;
  top: 0;
  left: 100%;
}
div.giga-grid .dropdown-submenu-align-left {
  position: absolute;
  background-color: #fff;
  top: 100%;
  border: 1px solid #eee;
  border-radius: 2px;
  white-space: nowrap;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  list-style: none;
  top: 0;
  right: 50%;
}
div.giga-grid .dropdown-menu-toggle-handle-hide {
  opacity: 0;
}
div.giga-grid .dropdown-menu-item {
  position: relative;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
  color: #666;
  border-radius: 2px;
}
div.giga-grid .dropdown-menu-item.hoverable:hover {
  cursor: pointer;
  background-color: #eee;
}
div.giga-grid .dropdown-menu-item input {
  border: none;
  border-bottom: 2px solid #666;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 13px;
}
div.giga-grid {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #333;
  overflow-x: auto;
}
div.giga-grid div.giga-grid-body-scroll-y {
  overflow-y: auto;
}
div.giga-grid table {
  border-collapse: collapse;
  font-size: 13px;
}
div.giga-grid tr.selected {
  background-color: #f5f5f5;
}
div.giga-grid tr.subtotal-row.selected {
  background-color: #ece9e9;
}
div.giga-grid tr td,
div.giga-grid tr th {
  box-sizing: border-box;
  padding: 8px 2px;
}
div.giga-grid th:last-child,
div.giga-grid td:last-child {
  padding-right: 10px;
}
div.giga-grid th:first-child,
div.giga-grid td:first-child {
  padding-left: 10px;
}
div.giga-grid tr th {
  font-weight: bold;
  border-bottom: 2px solid #555;
}
div.giga-grid tr td {
  border: 1px solid #f5f5f5;
  border-right: none;
  border-left: none;
}
div.giga-grid tr.subtotal-row {
  background-color: #f5f5f5;
}
div.giga-grid thead tr:hover,
div.giga-grid tbody tr:hover {
  cursor: pointer;
}
div.giga-grid tbody tr:hover {
  background-color: #f5f5f5;
}
div.giga-grid tr.subtotal-row:hover {
  background-color: #ece9e9;
}
div.giga-grid .numeric {
  text-align: right;
}
div.giga-grid .non-numeric {
  text-align: left;
}
