@import "./Variables.styl"

div.giga-grid
  position relative
  margin 0
  font-family Roboto, sans-serif
  color #333

  span.giga-grid-button
    background-color #fff
    border 1px solid toolbar-border-color
    padding 5px
    cursor pointer
    hover-transition()
    &:hover
      background-color toolbar-border-color

  table
    border-collapse collapse
    font-size 11px

  table.header-table
    table-layout fixed

  div.giga-grid-body-viewport
    overflow scroll
    display inline-block // this allow the viewport to be as wide as the canva
    max-width 100%

  div.giga-grid-header-container
    max-width 100%
    overflow hidden
  tr.selected
    background-color selected-color

  tr.subtotal-row.selected
    background-color subtotal-selected-color

  tr td, tr th
    box-sizing border-box
    padding 2px 5px
    min-width 8em

  th:last-child, td:last-child
    padding-right 10px

  th:first-child, td:first-child
    padding-left 10px

  tr th
    font-weight normal
    background-color: main-color
    color header-text-color
    border-left: 1px solid cell-border-color
    border-right 1px solid cell-border-color
    border-bottom 1px solid cell-border-color

  tr th.column-group
    text-align center

  tr td
    white-space: nowrap
    border 1px solid cell-border-color

  tr td i:hover
    cursor pointer
    color cell-border-color

  tr.subtotal-row
    background-color subtotal-color

  thead tr:hover
    cursor pointer

  tbody tr:hover
    background-color selected-color

  tr.subtotal-row:hover
    background-color subtotal-selected-color

  .numeric
    text-align right

  .non-numeric
    text-align left
