@import "dropdown-menu"

// we use material design colors and accents
// see: https://www.google.com/design/spec/style/color.html#color-color-palette
main-color = #e0e0e0
header-text-color=#333
cell-border-color = #f5f5f5
selected-color = #f5f5f5
subtotal-color = selected-color
subtotal-selected-color = #e0e0e0

div.giga-grid
  margin 0
  font-family Roboto, sans-serif
  color #333
  overflow-x auto

  div.giga-grid-body-scroll-y
    overflow-y auto

  table
    border-collapse collapse
    font-size 13px


  tr.selected
    background-color selected-color

  tr.subtotal-row.selected
    background-color subtotal-selected-color

  tr td, tr th
    box-sizing border-box
    padding 8px 2px

  th:last-child, td:last-child
    padding-right 10px

  th:first-child, td:first-child
    padding-left 10px

  tr th
    font-weight normal
    background-color: main-color
    color header-text-color

  tr th.column-group
    text-align center
    border-right 1px solid cell-border-color
    border-bottom 1px solid cell-border-color

  tr td
    border 1px solid cell-border-color
    border-right none
    border-left none

  tr.subtotal-row
    background-color subtotal-color

  thead tr:hover, tbody tr:hover
    cursor pointer

  tbody tr:hover
    background-color selected-color

  tr.subtotal-row:hover
    background-color subtotal-selected-color

  .numeric
    text-align right

  .non-numeric
    text-align left
