.giga-grid .giga-grid-toolbar
  padding-left 5px

.giga-grid-sortable
  border 1px solid toolbar-border-color
  padding 1em

.giga-grid-flex-column
  float left
  padding 10px
  &.column-50
    width 50%
  &.column-100
    width 100%

input.giga-grid-text-input
  padding 10px 10px 10px 5px
  border none
  border-bottom 2px solid #757575
