@import "../../styles/Variables.styl"

.giga-grid .giga-grid-toolbar span.toolbar-item
  position relative

.giga-grid-toolbar span.toolbar-item-toggle:hover
  cursor pointer
  color #2F6FAD

.giga-grid-sortable
  border 1px solid toolbar-border-color
  padding 1em

.column-50
  width 50%
  float left
  padding 10px

input.giga-grid-text-input
  padding 10px 10px 10px 5px
  border none
  border-bottom 2px solid #757575
