body {
    font-family: Roboto, sans-serif;
}

.jumbotron span {
    position: relative;
}
.jumbotron span h4.pre-alpha-label {
    font-family: Consolas,serif;
    position: relative;
    bottom: -30px;
    left: -30px;
    z-index: 1;
    transform: rotate(-25deg);
    font-weight: bold;
    font-size: 16px;
    background: red;
    padding: 5px;
    width: 9rem;
    border-radius: 5px;
    margin: 0;
}

nav {
    border-width: 0!important;
}

pre {
    /* bootstrap adds a weird background color to pre elements that we don't want with highlight.js */
    padding: 0;
}

nav {
    background-color: #004C70;
    border-radius: 0 0 2px 2px;
}

div.jumbotron {
    background-color: #0093D1;
    color: #fff;
}

ul.navbar-nav li a.nav-link, button.navbar-toggle i.fa.fa-bars {
    color: #fff;
}

ul.navbar-nav li a.nav-link:hover {
    color: #004C70;
}

ul.navbar-nav li.active {
    background-color: #0093D1;
}