@import "../GigaGridLayout.styl"
@import "../RetroColors.styl"

div.giga-grid
  color #333

  span.giga-grid-button
    background-color #fff
    border 1px solid toolbar-border-color
    &:hover
      background-color toolbar-border-color

  tr.selected
    background-color selected-color

  tr.subtotal-row.selected
    background-color subtotal-selected-color

  tr th
    background-color: main-color
    color header-text-color
    border-left: 1px solid cell-border-color
    border-right 1px solid cell-border-color
    border-bottom 1px solid cell-border-color

  tr td
    border 1px solid cell-border-color

  tr td i:hover
    color cell-border-color

  tr.subtotal-row
    background-color subtotal-color

  tbody tr:hover
    background-color selected-color

  tr.subtotal-row:hover
    background-color subtotal-selected-color

