@import "../GigaGridLayout.styl"
@import "../RetroColors.styl"

div.giga-grid
  color #333

  span.giga-grid-button
    background-color #fff
    border 1px solid toolbar-border-color
    &:hover
      background-color toolbar-border-color

  div.selected
    background-color selected-color

  div.subtotal-row.selected
    background-color subtotal-selected-color

  div.table-header
    background-color: main-color
    color header-text-color
    border-right 1px solid cell-border-color
    border-bottom 1px solid cell-border-color

  div.content-container
    border-right: 1px solid cell-border-color;
    border-bottom: 1px solid cell-border-color;

  div i:hover
    color cell-border-color

  div.subtotal-row-0 .content-container
    background-color subtotal-color
