@import "Util.styl"

div.giga-grid
  position relative
  margin 0
  font-family Roboto, sans-serif

  span.giga-grid-button
    padding 5px
    cursor pointer
    hover-transition()

  div.giga-grid-header-container
    font-size 11px
    height 20px
    max-width 100%
    white-space nowrap
    overflow hidden

  // Hack to turn off frozen scrollbars for IE
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    div.giga-grid-left-headers-container
      overflow-x auto !important

  div.giga-grid-left-headers-container, div.giga-grid-right-data-container
    display inline-block
    overflow hidden

  div.giga-grid-body-viewport
    overflow-y scroll
    white-space nowrap
    overflow-x hidden
    display inline-block // this allow the viewport to be as wide as the canva
    max-width 100%

  div.giga-grid-right-data-container
    overflow-x auto
    overflow-y hidden

  div.table-header
    box-sizing border-box
    padding 2px 0 2px 5px
    min-width 80px
    display inline-block

  div.left-static-headers
    display inline-block
    overflow-x hidden

  div.right-scrolling-headers
    display inline-block
    overflow hidden

  div.table-header:last-child, div.content:last-child
    padding-right 10px

  div.table-header:first-child, div.content:first-child
    padding-left 10px

  .text-align-right
    text-align right

  .text-align-left
    text-align left

  div.content-container
    display inline-block

  div.giga-grid-row
    white-space nowrap

  span.group-by-cell
    white-space nowrap

  .content-container
    box-sizing border-box
    padding 4px 5px
    height 100%
