main-color = #DBDBDB
header-text-color=#333
cell-border-color = #fff
toolbar-border-color = rgba(0, 0, 0, 0.07843)
selected-color = #D0E4D3
subtotal-color = #D0E4D3
subtotal-selected-color = #b3c6b5

lighten-background(lvl)
  background-color lighten(selected-color , (lvl * 10)%)

div.giga-grid
    .subtotal-row
      for lvl in (1..10)
        &.subtotal-row-{lvl}
          .content-container
            lighten-background(lvl)
    .detail-row
      &:nth-of-type(odd)
        .content-container
          background-color #fff
      &:nth-of-type(even)
        .content-container
          background-color #f1f1f1
